<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yetao.blog.mapper.AdminUserMapper">
    <!-- id:statement的id 或者叫做sql的id-->
    <!-- parameterType:声明输入参数的类型 -->
    <!-- resultType:声明输出结果的类型，应该填写pojo的全路径 -->
    <!-- #{}：输入参数的占位符，相当于jdbc的？ -->
    <select id="getAdminCount" resultType="java.lang.Integer">
        select count(*) from tb_admin
    </select>

    <insert id="initAdmin">
        insert into tb_admin(id,username,password,email,avatar,
                    sign,login_ip,create_time,update_time)
               value(#{id},#{username},#{password},#{email},#{avatar},
                     #{sign},#{loginIp},#{createTime},#{updateTime})
    </insert>

    <select id="getAdminById" resultType="com.yetao.blog.pojo.Admin">
        select tb_admin.* from tb_admin where id = #{id}
    </select>

    <update id="updateAdmin">
        update tb_admin set email = #{email},avatar = #{avatar}, sign = #{sign}, update_time = #{updateTime}
        where id = #{id}
    </update>

    <select id="checkUser" resultType="com.yetao.blog.pojo.Admin">
        select * from tb_admin where username = #{username} and password = #{password}
    </select>
</mapper>